.searchWeather_container {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.searchWeather_input {
  margin-left: 10px; 
  margin-right: 10px;
  padding-left: 5px;
  width: 100%;
  height: 30px;
  font-size: 11pt;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85); 
}

.searchWeather_button {
  margin-left: auto;
  margin-right: 10px;
  height: 30px;
  width: 50px;
  border: 0;
  border-radius: 100px;
  font-weight: bold;
  color: gray;
  background: white;
}

.infoWeather_container {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

.infoWeather_icon_container {
  color: grey;
  display: flex;
}

.infoWeather_text {
  margin-top: auto;
  margin-bottom: auto;
}

.infoWeather_cityName {
  font-weight: bold;
  color: grey;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}